.SSA_24px_font{
    font-size: 24px;
    line-height: normal;
    letter-spacing: normal;
}

.SSA_21px_font{
    font-size: 21px;
    line-height: normal;
    font-weight: 600;
    letter-spacing: normal;
}

.SSA_15px_font{
    font-size: 15px;
    line-height: 140%;
    letter-spacing: normal;
}

/* YourComponent.css */
/* YourComponent.css */
.image-container {
    position: relative;
    overflow: hidden;
  }
  
  .SSA_live-badge {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #ff0960; /* Set your desired background color */
    color: white; /* Set your desired text color */
    font-size: 12px;
    z-index: 2;
    border-radius: 4px;
  }
  
  .overlay {
    position: relative;
  }
  
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -60%);
    /* opacity: 0; */
    display:none;
  }
  
  .image-container:hover .overlay-content {
    /* opacity: 1; */
    display:block;
    
    z-index: 3;
    
  }
  
  .play-icon {
   
    color: white;
    cursor: pointer;
    z-index: 4;
    position: relative;
    pointer-events: none; /* Disable pointer events on the play icon */
  }
  
  .image-container:hover .play-icon {
    pointer-events: auto; /* Enable pointer events on hover */
  }
  
  .SSA_overlay-text {
    position: absolute;
    bottom: 22px;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    font-weight: 600;
    color: white;
    z-index: 1;
  }
  

   .image-container:hover .SSA_live-badge , .image-container:hover img , .image-container:hover .SSA_overlay-text   {
    filter: brightness(30%); /* Adjust brightness for the black overlay effect */
  }

   .overlay {
    filter: brightness(100%); /* Adjust brightness for the black overlay effect */
  }
  /* .ListItem-Overlay .ListItem-Play-Button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: auto 0;
    background-color: #ff0960;
    border-radius: 100%;
    cursor: pointer;
    transition: all .3s ease-in-out
} */

